@media (max-width: 600px) {

    * {
      box-sizing: border-box;
  }
  
    nav ul li { 
      width: 100%;
  }
    nav a {
      font-size: 14px;
  }
  nav ul li .sous {
      width: 100%;
      position: relative;
    }
    header img {
      object-fit: cover;
      width: 100%;
  }
  nav svg{
      object-fit: cover;
  }
  
  nav{
      width: 100%;
      background-color: white;
      position: sticky;
      top: 0px;
      margin: 0 auto;
      
      
  }

  
  }
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

header {
    background-size: 100%;
    padding-bottom: 11%;

  }
  header img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    padding-top: 2%;

}

nav ul{
    list-style-type: none;

}

nav ul li{
    float: left;
    width: 10%;
    text-align: center;
    position: relative;
}
nav svg{
    width: 20px;
    height: 20px;
    object-fit: cover;
    fill: black;
}


nav ul::after{
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
nav .clock{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 4px #999999;
  transition: all 0.5s ease;



}

nav .timer{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 4px #999999;
  transition: all 0.5s ease;


}
nav a:hover{
    background-color: #666666;
    box-shadow: 2px 4px #999999;
    color: white;
    transition: all 0.5s ease;
}
#image{
  display: block;
}
#image:hover{
  display: block;
}
nav a:hover svg{
  fill: white;
  transition: all 0.5s ease;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    border-radius: 5px;
    background-color: rgba(206, 202, 202, 0.42);
    position: absolute;
    width: 100%;

    
}
.sous:hover nav{
    background-color: #666666;
    box-shadow: 2px 4px #999999;
    color: white;
}
ul li:hover .sous{
    display: block;
} 
.sous li{
    width: 100%;

    text-align: center;
}

.sous a:hover{
    border-bottom: none;
    background-color: #666666;
}


.conteneur{
  margin: 50px 20px;
  height: 1500px;
}
/* clock */
.clock {
  position: relative;
}
@media (max-width: 600px) {

  * {
    box-sizing: border-box;
}

  nav ul li { 
    width: 100%;
}
  nav a {
    font-size: 14px;
}
nav ul li .sous {
    width: 100%;
    position: relative;
  }
  header img {
    object-fit: cover;
    width: 100%;
}
nav svg{
    object-fit: cover;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

}



