
#acces{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.ISENACCES a, h2{
    text-decoration: none;
    color: black;
    text-align: center;
}
.ISENACCES{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: aliceblue;
    flex: 4px;
    overflow: hidden;

}
section {
    background: #F6F3ED;
    margin: 0.3em;
    padding: 0.3em;
    border: 1px solid black;
    width: 11.5em;
}
.IsenBrest{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: aliceblue;
    overflow: hidden;
}
.isenNantes{
    overflow: hidden
}